.login-main {
  height: 100vh;
  justify-content: center;
  display: flex;
  flex-direction: column;

  .login-card {
    padding: 50px 30px 70px 30px;

    input {
      background-color: transparent !important;
    }

    .login-form-footer {
      align-items: center;

      .forgot-password {
        width: 550px;
      }
    }
  }

  @media screen and (min-width: 900px) {
    margin: 0 auto;
    max-width: 450px;
  }
}
