$drawer-width: 200px;

.side-bar {
  @media screen and (min-width: 600px) {
    width: $drawer-width;
    flex-shrink: 0;
  }

  .drawer-desktop .MuiDrawer-paper {
    top: 65px;
    width: $drawer-width;
  }
}

.app-bar .MuiAppBar-root {
  z-index: 1000 !important;
}

.content {
  flex-grow: 1;
  margin-top: 65px;
}
